{% extends "base.html" %}
{% load static %}
{% block main %}
<div style="margin: 100px; padding: 50px 0px;">
    <div class="row" >
        <marquee behavior="" direction="left">--FAUGET--Flat 40% Off on BAJAJ EMI...</marquee>
        <div class="col" align="center">
            <div class="card" >
            <a href="/filterbycategory/1/"><img src="{% static 'images/Screenshot 2025-05-13 161636.png' %}" class="card-img-top" ></a>
                <div class="card-body">
                    <p class="card-text">Mobiles</p>
                </div>
            </div>
            &nbsp;
            <div class="col" align="center">
                <div class="card" >
                <a href="/filterbycategory/2/"><img src="{% static 'images/gaming-gear.jpg' %}" class="card-img" >
                </a>   
                    <div class="card-body">
                        <p class="card-text">Accessories</p>
                </div>
            </div>
            </div> 
            &nbsp;
            
        </div>
        <div class="col" align="center">
            <div class="card" >
            <a href="/filterbycategory/3/"><img src="{% static 'images/futuristic-gadgets-showcase-lineup-sleek-modern-technological-devices_977107-679 (1).avif' %}" class="card-img" ></a>    
                <div class="card-body">
                    <p class="card-text">Wireless Gadgets</p>
                </div>
            </div>
        </div> 
        &nbsp;
        <div class="col" align="center">
            <div class="card" >
            <a href="/filterbycategory/4/"><img src="{% static 'images/laptop-8892717_1280.jpg' %}" class="card-img-top" >
            </a>    
                <div class="card-body">
                    <p class="card-text">Laptops and Computer</p>
                </div>
        </div>
        </div>
        &nbsp;
        <div class="col" align="center">
            <div class="card" >
            <a href="/filterbycategory/5/"> <img src="{% static 'images/OIP.jpeg' %}" class="card-img-top" >
            </a>   
                <div class="card-body">
                    <p class="card-text">Televisons</p>
                </div>
            </div>
        </div>
        &nbsp;
        <div class="col" align="center">
            <div class="card" >
            <a href="/filterbycategory/7/"> <img src="{% static 'images/air-conditioners.jpg' %}" class="card-img-top" >
            </a>   
                <div class="card-body">
                    <p class="card-text">Air Conditioners</p>
                </div>
        </div>
        </div>
        &nbsp;
        <div class="col" align="center">
            <div class="card" >
            <a href="/filterbycategory/8/"> <img src="{% static 'images/ZCAM_1003_72dpi_20150709.webp' %}" class="card-img-top" >
            </a>   
            <div class="card-body">
                <p class="card-text"> Cameras and Lenses</p>
            </div>
        </div>
        </div>
        &nbsp;
        <div class="col text-center"> 
            <div class="card shadow-sm"> 
                <a href="/filterbycategory/6/"> 
                    <img src="{% static 'images/3-5cu-ft-Compact-Refrigerator-Mini-Fridge-with-Freezer-Krib-Bling-Small-Refrigerator-with-2-Door_0890787a-3dee-4282-a00a-117a0331b8dd.20f6eeb52132da4ebf25d883727b7c69.webp' %}" class="card-img-top" alt="Compact Mini Fridge with Freezer"> 
                </a> 
                <div class="card-body"> 
                    <p class="card-text font-weight-bold">Refrigerators and Coolers</p> 
                </div> 
            </div> 
        </div>
        </div>
    </div>
    
</div>
{% endblock main %}