{% extends "base.html" %}
{% load static %}
{% block main %}
<div class="row">
    <div class="col-md-6 mx-auto shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <div class="row">
            {% if error %}
                <div class="alert alert-danger">{{error}}</div>        
            {% endif %}
            {% if success %}
                <div class="alert alert-success">{{success}}</div>        
            {% endif %}
            <div class="col-md-5 ">
                <!-- <h3>Product Details</h3> -->
                <img src="{{product.pimage.url}}" width="85%" height="250px" 
                alt="img">
            </div>
            <div class="col-md-7">
                <h3>Details :</h3>
                <h3>{{product.pname}}</h3>
                <h4>Price:{{product.price}}₹</h4>
                <a href="/addtocart/{{product.id}}/" button class="btn btn-outline-warning" type="submit">Add to Cart</a>
                <a href="/mycart" button class="btn btn-outline-primary" type="submit">View Cart</a>
                <a href="#" button class="btn btn-outline-primary" type="submit">Go Back</a>
            </div>
        </div>
    </div>
</div>
{% endblock main %}